*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

#body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    grid-template-rows: 80px 200px 80px; 
    grid-template-areas: 
                    /*COL1   COL2   COL3*/
        /*ROW1*/    "header header  header"
        /*ROW2*/    "nav    main    aside"
        /*ROW3*/    "nav    footer  footer"
    ;
        gap: 10px;
        
}

#header {
    grid-area: header;
}

#nav{
    grid-area: nav;
}

#main{
    grid-area: main;
    
}

#aside{
    grid-area: aside;
}

#footer{
    grid-area: footer;
}

/*BREAKPOINTS

MOBILE= 600px
TABLET= 900px
DESKTOP= 1200px
*/

@media screen and (max-width: 1200PX) {
    #body {
        background-color: red;
    }
}

@media screen and (max-width: 900px) {
    #body {
        background-color: blue;
    }
    
}

@media screen and (max-width: 600px) {
    #body {
        background-color: green;   
        }
    }